<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">Welcome to ME224 Project Selection</h1>
    <p class="secret-text"></p>
    <hr>


    <form action="/project" method="POST">

      <div class="form-group">
        <div class="container">
          <label for="member1_name" class="form-label">Select Project</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="choice">
            <%userslist.forEach(user=>{%>
              <option value=<%=user.topic%>><%=user.topic%></option>
            <%})%>
            
          </select>
        </div>
        <label for="member1_name" class="form-label">Member 1 Name</label>
        <input type="text" class="form-control"  name="member1_name" placeholder=<%=member1_name%> defaultValue=<%=member1_name%> disabled/>
        <label for="member1_email" class="form-label">Member 1 Email </label>
        <input type="email" class="form-control"  name="member1_email" placeholder=<%=member1_email%> defaultValue=<%=member1_email%> disabled/>
        <label for="member2_name" class="form-label">Member 2 Name (Optional)</label>
        <input type="text" class="form-control" name="member2_name" placeholder="John">
        <label for="member1_email" class="form-label">Member 2 Email (Optional)</label>
        <input type="email" class="form-control" name="member2_email" placeholder="name@iitg.ac.in">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <div class="mb-3">
      

    </div> 

    
    <a class="btn btn-light btn-lg mx-2" href="/logout" role="button">Log Out</a>
  </div>

  <script>
    
  </script>
</div>

<%- include('partials/footer') %>
